h1{
    color: #ff0000;
}

.container{
    padding: 40px;
}

.icono-verde {
    stroke: #00ffff;
    fill: #00ffff;
}

#svg1 #Avatar,
#svg2 #Avatar,
#svg3 #Avatar,
#svg4 #Avatar,
#svg5 #Avatar{
    fill: #00ff00;
    width: 200px;
}

#svg5 #Avatar:hover{
    fill: #00ffff ;
}

#svg1{
    width: 100px;
}
#Avatar3:hover{
    fill: #ff0000;
}
#Avatar3 #Avatar:hover{
    fill: #ff0000;
}

#svg4{
    width: 80px;
}
#svg6{
    width: 120px;
}