#Avatar {
  stroke: #0000ff;
  fill: #0000ff;
}
#Avatar:hover {
  stroke: #ff0000;
  fill: #ff0000;
}

#Avatar{
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic');


#Empty-cases #texto{
  fill: #666;
  font-family: Roboto;
}
#Empty-cases:hover #texto{
  fill: #ff0000;
}
#Avatar{
  transition: all 1s;
}
#Avatar.click{
  transform: scale(1.3, 1.3) translate(197px, 20px);
  transition: all 1s;
}