body{
    background-image: url("../assets/the-modernist.png");
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-size: 14px;
}
h2{
    font-size: 2em;
}
p{
    font-size: 1.2em;
}
ul{
    padding: 0;
}
header{
    width: 100%;
    height: 87px;
    border-top: 5px solid #76c38f;
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,0.5);
    color: #fff;
}
header.fixed{
    position: fixed;
    height: 50px;
}
main{
    padding-top: 87px;
    width: 100%;
    min-height: 100vh;
    background-color: #660000;
    /*height: 400px;*/
    box-sizing: border-box;
    /*font-size: 0;*/
    margin-bottom: 60px;
}
footer{
    width: 100%;
    background-color: #2b2b2b;

    clear: both;
    position: relative;
    height: 60px;
    margin-top: -60px;
}

.bloque1{
    width: 100%;
    height: 200px;
    background: #123456;
    box-sizing: border-box;
}

.bloque2{
    width: 100%;
    height: 200px;
    background: #654321;
    box-sizing: border-box;
}

.parrilla{
    width: 100%;
}
.parrilla > ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* row-reverse*/
    width: 100%;
}
.parrilla > ul > li{
    list-style: none;
    width: 25%;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid #ffffff;
    position: relative;
    /*flex-shrink: 1;*/
}
.parrilla > ul > li span{
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    height: 1.15em;
    width: 90%;
    text-align: center;
}

aside{
    width: 100px;
    position: sticky;
    top: 100px;
    height: 200px;
    background: #FFFFFF;
}

@media (max-width: 800px) {
    .rwd_col{
        width: 50% !important;
        /*display: inline-block;*/
        float: left;
    }

    main{
        display: flex;
        flex-direction: column;
        font-size: 2em;
    }
    .bloque1{
        order: 2
    }
    .bloque2{
        order: 3
    }
    .bloque3{
        order: 1
    }
}