@import 'variables';
@import 'mixins';

%caja{
  width: 200px;
  height: 100px;
  border: 1px solid #000000;
}

body{

  header{
    height: 87px;
  }

}

h1{
  @extend %caja;
  color: $color-rojo;
  font-size: 2.2em;
  text-align: center;
  /* width: 200px; */
  transform-origin: 0% 0%;
  @include transform(translate(100px, 50px));
  @include transform(scale(1.7));

  &[data-color='azul']{
    color: #0000ff
  }

  transition: all 500ms;
}






