
body{

  header{
    height: 87px;
  }

}

h1{
  color: #0000ff;
}


.listado{
  li{
    &.visible{
      p{
        opacity: 1;
        max-height: 300px;
        transition: max-height 0.4s ease-out, opacity 1s;
      }
    }

    p{
      opacity: 0;
      max-height: 0px;
      overflow: hidden;
      transition: opacity 1s, max-height 1s, margin 1s;
    }
  }
}

.loading{
  width: 100px;
  height: 100px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    width: 100px;
    height: 100px;
    margin: auto;
    top:0;
    bottom: 0;
    background: #ff0000;
    display: block;
    position: absolute;
    left: -100%;
    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /*animation-direction: alternate;*/
  }
}
/*
@keyframes loader{
  from{
    left:-100px;
  }
  to{
    left: 0;
  }
}
*/
@keyframes loader{
  0%{
    left:-100%;
    height: 100%;
    transform: rotate(0deg);
  }
  10%{
    left: 0;
    height: 100%;
    transform: rotate(0deg);
  }
  20%{
    left: 0;
    height: 10px;
    transform: rotate(0deg);
  }
  60%{
    left: 0;
    height: 10px;
    transform: rotate(360deg);
  }
  80%{
    left: 0;
    height: 100%;
    transform: rotate(360deg);
  }
  100%{
    left: 100%;
    height: 100%;
    transform: rotate(360deg);
  }
}



